<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="TestSuite">
	<parameter name="browser" value="ie"/>
	<test name="TestChrome">
		<classes>
			<class name="com.qa.tests.WebDriverBasicsTest" />
		</classes>
	</test> 
	<parameter name="browser" value="chrome"/>
	<test name="TestIE">
		<classes>
			<class name="com.qa.tests.WebTableTest" />
		</classes>
	</test>
</suite>